.kilo/
context.md
__pycache__/
*.pyc

# pdflatex compilation byproducts
.docs/*.aux
.docs/*.log
.docs/*.out


# Removed from git for either size or privacy reasons. These files are not needed to run the code, but some of them are needed to reproduce the experiments. If you want to reproduce the experiments, you will need to download these files from their original sources and place them in the appropriate locations.
datasets
source_papers